* {
  scroll-margin-top: 2.5rem;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.9s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* temp remove prism borders */
.mantine-Prism-code {
  border: none;
  border-radius: 1rem;
}
.mantine-PrismTabs-tabs {
  border-bottom: none;
}
/* add hover behavior to h2 */
h2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #c2870a;
  transition: width 0.3s ease-in-out;
}
h2:hover::after {
  width: 100%;
}
h2 {
  user-select: none;
}
/* temp to fix prism tab coloring */
.mantine-PrismTabs-tabActive{
  opacity: 1 !important;
}
.mantine-PrismTabs-tab{
  opacity: 0.5;
}